@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "Clash Display";
    src:
        url("/fonts/ClashDisplay-Variable.woff2") format("woff2-variations"),
        url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-clash: "Clash Display", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-mono: "Space Mono", monospace;

    --color-jpurp: #6D6DBF;
    --color-jyell: #FFF127;
    --color-jlime: #B4E524;
}

@utility bg-jgrad {
    background-image: 
        linear-gradient(
            10deg,
            var(--color-jpurp) 41%,
            var(--color-jyell) 45%,
            var(--color-jlime) 49%
        );
}

@utility brand {
    @apply flex items-center -space-x-3;

    h1 {
        @apply mt-4;
        @apply bg-clip-text text-transparent bg-jgrad;
    }
}

@utility title {
    @apply text-3xl md:text-5xl font-clash font-extrabold;
}

body {
    @apply bg-violet-950 text-white;
    @apply overflow-x-hidden;
}

ul {
    @apply pl-0;
}

li {
    @apply list-inside list-disc;
}